<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body .h{
            margin: 0;
            padding: 0;
            animation: bgcolor infinite 5s;
        }
        @keyframes bgcolor{
            0%
            {
                background: #eccc68;
            }
            20%
            {
                background:#ff7f50 ;
            }
            40%
            {
                background: #ff6348;
            }
            60%
            {
                background:#ff6b81 ;
            }
            80%
            {
                background: #feca57;
            }
            100%
            {
                background:#eccc68 ;
            }
        }
        
         i {
            position: relative;
            animation: myfirst 5s linear 0s infinite alternate;
        }

        @keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  50%  {background-color:yellow; left:20px; top:0px;} 
  100% {background-color:red; left:0px; top:0px;}
}
.studdash{
    animation: mysecond 1s linear 0s infinite alternate;
}
      @keyframes mysecond {
  0%   {font-size: 50px;}
   
  100% {font-size: 55px;}
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

        ul.topnav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            animation: listcolor infinite 4s;
        }
        @keyframes listcolor{
            0%
            {
                background: #9c88ff;
            }
            20%
            {
                background:#ff7979 ;
            }
            40%
            {
                background: #e056fd;
            }
            60%
            {
                background:#ffbe76 ;
            }
            80%
            {
                background: #e056fd;
            }
            100%
            {
                background:#9c88ff ;
            }
        }

        ul.topnav li {
            float: left;
        }

        ul.topnav li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-weight: 900;
            font-family: Forte;
            font-size: xx-large;
            border-left: 2px solid black;
            border-right: 2px solid black;

        }

        ul.topnav li a:hover:not(.active) {
            background-color: rgb(124, 57, 57);
        }

        ul.topnav li a.active {
            background-color: #4CAF50;
        }

        ul.topnav li a:hover.active {
            text-decoration: none;
        }

        ul.topnav li.right {
            float: right;
        }

        @media screen and (max-width: 600px) {

            ul.topnav li.right,
            ul.topnav li {
                float: none;
            }
        }
        a.home{
            color:black
        }
        .home:hover{
            text-decoration: none;
            color:rgb(12, 11, 11);
        }
    </style>
</head>

<body style="background-color: #99ff99;">
    <div style="background-color: black;"><span style="margin-left: 400px;"><i class="fas fa-yin-yang fa-3x"></i><span
                style=" font-family: 'freestyle script';margin-left: 20px;font-size: 40px;color: white;">Student
                Dashboard</span></span> </div><br>

    <ul class="topnav">
        <li><a href="/dashboard">Home</a></li>
        <li><a class="active" href="/user/profile">Profile</a></li>
        <li><a href="/user/settings">Settings</a></li>
        <li class="right"><a href="/user/logout">Log Out</a></li>
    </ul>
<br><br>
    <div>
        <span style="font-size: 35px;font-family: Matura MT Script Capitals;margin-left: 140px;">Your Details: </span>
    </div>

    <div>
    </br>
    <table>
        <tr>
            <td style="font-weight: bold;font-family: Lucida Handwriting;">Name</td>
            <td style="font-weight: bolder;color: rgb(76, 78, 211); font-family: Comic Sans MS;"><%= user.name %></td>
        </tr>
        <tr>
            <td style="font-weight: bold;font-family: Lucida Handwriting;">Roll Number</td>
            <td style="font-weight: bolder;color: rgb(76, 78, 211); font-family: Comic Sans MS;"><%= user.rollnumber %></td>
        </tr>
        <tr>
            <td style="font-weight: bold;font-family: Lucida Handwriting;">Father's Name</td>
            <td style="font-weight: bolder;color: rgb(76, 78, 211); font-family: Comic Sans MS;"><%= user.fatherName %></td>
        </tr>
        <tr>
            <td style="font-weight: bold;font-family: Lucida Handwriting;">Mother's Name</td>
            <td style="font-weight: bolder;color: rgb(76, 78, 211); font-family: Comic Sans MS;"><%= user.motherName %></td>
        </tr>
        <tr>
            <td style="font-weight: bold;font-family: Lucida Handwriting;">Gender</td>
            <td style="font-weight: bolder;color: rgb(76, 78, 211); font-family: Comic Sans MS;"><%= user.gender %></td>
        </tr>
        <tr>
            <td style="font-weight: bold;font-family: Lucida Handwriting;">Age</td>
            <td style="font-weight: bolder;color: rgb(76, 78, 211); font-family: Comic Sans MS;"><%= user.age %></td>
        </tr>
        <tr>
            <td style="font-weight: bold;font-family: Lucida Handwriting;">Contact Number</td>
            <td style="font-weight: bolder;color: rgb(76, 78, 211); font-family: Comic Sans MS;"><%= user.contactNumber %></td>
        </tr>
        <tr>
            <td style="font-weight: bold;font-family: Lucida Handwriting;">Blood Group</td>
            <td style="font-weight: bolder;color: rgb(76, 78, 211); font-family: Comic Sans MS;"><%= user.bloodGroup %></td>
        </tr>
        <tr>
            <td style="font-weight: bold;font-family: Lucida Handwriting;">Address</td>
            <td style="font-weight: bolder;color: rgb(76, 78, 211); font-family: Comic Sans MS;"><%= user.address %></td>
        </tr>
        <tr>
            <td style="font-weight: bold;font-family: Lucida Handwriting;">Pin Code</td>
            <td style="font-weight: bolder;color: rgb(76, 78, 211); font-family: Comic Sans MS;"><%= user.pinCode %></td>
        </tr>
        <tr>
            <td style="font-weight: bold;font-family: Lucida Handwriting;">State</td>
            <td style="font-weight: bolder;color: rgb(76, 78, 211); font-family: Comic Sans MS;"><%= user.state %></td>
        </tr>
    </table>
        </div>

   
</body>

</html>