<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            padding: 0;
            animation: bgcolor infinite 5s;
        }

        @keyframes bgcolor {
            0% {
                background: #eccc68;
            }

            20% {
                background: #ff7f50;
            }

            40% {
                background: #ff6348;
            }

            60% {
                background: #ff6b81;
            }

            80% {
                background: #feca57;
            }

            100% {
                background: #eccc68;
            }
        }

        i {
            position: relative;
            animation: myfirst 5s linear 0s infinite alternate;
        }

        @keyframes myfirst {
            0% {
                background-color: red;
                left: 0px;
                top: 0px;
            }

            50% {
                background-color: yellow;
                left: 20px;
                top: 0px;
            }

            100% {
                background-color: red;
                left: 0px;
                top: 0px;
            }
        }

        .studdash {
            animation: mysecond 1s linear 0s infinite alternate;
        }

        @keyframes mysecond {
            0% {
                font-size: 50px;
            }

            100% {
                font-size: 55px;
            }
        }

        ul.topnav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;

        }

        @keyframes listcolor {
            0% {
                background: #9c88ff;
            }

            20% {
                background: #ff7979;
            }

            40% {
                background: #e056fd;
            }

            60% {
                background: #ffbe76;
            }

            80% {
                background: #e056fd;
            }

            100% {
                background: #9c88ff;
            }
        }

        ul.topnav li {
            float: left;
        }

        ul.topnav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-weight: 900;
            font-family: Forte;
            font-size: xx-large;
            border-left: 2px solid white;
            border-right: 2px solid white;
            background-color: black;

        }

        ul.topnav li a:hover:not(.active) {
            background-color: rgb(124, 57, 57);
        }

        ul.topnav li a.active {
            background-color: rgb(76, 99, 175);
        }

        ul.topnav li a:hover.active {
            text-decoration: none;
        }


        ul.topnav li.right {
            float: right;
        }

        @media screen and (max-width: 600px) {

            ul.topnav li.right,
            ul.topnav li {
                float: none;
            }
        }



        ul.topnava li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-weight: 900;

            font-family: Pristina;
            font-size: 45px;
            border: 2px solid black;


        }

        ul.topnava li a:hover:not(.active) {
            background-color: rgb(124, 57, 57);
        }

        ul.topnava li a.active {
            background-color: #4CAF50;
        }

        ul.topnava li a:hover.active {
            text-decoration: none;
        }


        ul.topnava li.right {
            float: right;
        }

        @media screen and (max-width: 600px) {

            ul.topnava li.right,
            ul.topnav li {
                float: none;
            }
        }

        .flex-container {
            display: flex;
            justify-content: space-between;

        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <div style="background-color: black;"><span style="margin-left: 400px;"><i class="fas fa-yin-yang fa-3x"></i><span
                style=" font-family: 'freestyle script';margin-left: 20px;font-size: 40px;color: white;">Student
                Dashboard</span></span> </div><br>


    <ul class="topnav">
        <li><a class="active" href="/dashboard">Home</a></li>
        <li><a href="/user/profile">Profile</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="right"><a href="/user/logout">Log Out</a></li>
    </ul>
    <br>



    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center mb-3">
                    Update Marks
                </h1>
                <%-include('./partials/messages.ejs'); %>
                <div>
                    <h4>Student Name: <%= doc[0].name %>
                    </h4>
                </div>
                <form action="/user/updatemarks" method="POST">
                    <div class="form-group">

                        <input type="text" id="rollnumber" name="rollnumber" " class=" form-control"
                            value="<%= doc[0].rollnumber %>" />
                    </div>
                    <div class="form-group">
                        <table>

                            <tr>
                                <th>Subject</th>
                                <th>ST-1</th>
                                <th>ST-2</th>
                                <th>ST-3</th>
                                <th>End Term</th>
                            </tr>
                            <tr>
                                <td>Maths</td>
                                <td>
                                    <input type="text" id="st1Math" name="st1Math" class="form-control"
                                        placeholder="St1"
                                        value="<%= typeof st1Math != 'undefined' ? st1Math : '' %>" />
                                </td>
                                <td>
                                    <input type="text" id="st2Math" name="st2Math" class="form-control" placeholder="St2"
                                        value="<%= typeof st2Math != 'undefined' ? st2Math : '' %>" />
                                </td>
                                <td>
                                    <input type="text" id="st3Math" name="st3Math" class="form-control" placeholder="St3"
                                        value="<%= typeof st3Math != 'undefined' ? st3Math : '' %>" />
                                </td>
                                <td>
                                    <input type="text" id="endMath" name="endMath" class="form-control" placeholder="End Term"
                                        value="<%= typeof endMath != 'undefined' ? endMath : '' %>" />
                                </td>
                            </tr>
                            <tr>
                                <td>Chemistry</td>
                                                                <td>
                                                                    <input type="text" id="st1Chem" name="st1Chem" class="form-control" placeholder="St1"
                                                                        value="<%= typeof st1Chem != 'undefined' ? st1Chem : '' %>" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="st2Chem" name="st2Chem" class="form-control" placeholder="St2"
                                                                        value="<%= typeof st2Chem != 'undefined' ? st2Chem : '' %>" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="st3Chem" name="st3Chem" class="form-control" placeholder="St3"
                                                                        value="<%= typeof st3Chem != 'undefined' ? st3Chem : '' %>" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="endChem" name="endChem" class="form-control" placeholder="End Term"
                                                                        value="<%= typeof endChem != 'undefined' ? endChem : '' %>" />
                                                                </td>
                            </tr>
                            <tr>
                                <td>English</td>
                                                                <td>
                                                                    <input type="text" id="st1Eng" name="st1Eng" class="form-control" placeholder="St1"
                                                                        value="<%= typeof st1Eng != 'undefined' ? st1Eng : '' %>" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="st2Eng" name="st2Eng" class="form-control" placeholder="St2"
                                                                        value="<%= typeof st2Eng != 'undefined' ? st2Eng : '' %>" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="st3Eng" name="st3Eng" class="form-control" placeholder="St3"
                                                                        value="<%= typeof st3Eng != 'undefined' ? st3Eng : '' %>" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="endEng" name="endEng" class="form-control" placeholder="End Term"
                                                                        value="<%= typeof endEng != 'undefined' ? endEng : '' %>" />
                                                                </td>
                            </tr>
                            <tr>
                                <td>Physics</td>
                                                                <td>
                                                                    <input type="text" id="st1Phy" name="st1Phy" class="form-control" placeholder="St1"
                                                                        value="<%= typeof st1Phy != 'undefined' ? st1Phy : '' %>" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="st2Phy" name="st2Phy" class="form-control" placeholder="St2"
                                                                        value="<%= typeof st2Phy != 'undefined' ? st2Phy : '' %>" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="st3Phy" name="st3Phy" class="form-control" placeholder="St3"
                                                                        value="<%= typeof st3Phy != 'undefined' ? st3Phy : '' %>" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="endPhy" name="endPhy" class="form-control" placeholder="End Term"
                                                                        value="<%= typeof endPhy != 'undefined' ? endPhy : '' %>" />
                                                                </td>
                            </tr>

                        </table>
                        <button type="submit" class="btn btn-primary btn-block">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>

</html>